.project {
  margin: 0 auto;
  padding-top: 1rem;
}
.ul-header {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Linux Libertine", "Georgia", "Times", "Source Serif Pro", serif;
}

.stack-used-ul {
  font-weight: 100;
}
.stack-used-li {
  margin-left: 2rem;
  padding-top: 0.3rem;
}
@media only screen and (max-width: 62.5em) {
  .stack-used-li {
    font-weight: 400;
  }
}
