.project {
  margin: 0 auto;
  padding-top: 1rem;
}
.ul-header {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Linux Libertine", "Georgia", "Times", "Source Serif Pro", serif;
}

.stack-used-li {
  margin-left: 1rem;
  padding-top: 0.3rem;
}
